{% extends "home.html" %}
{% load static %}

{% block title %}Угадай число{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <p>Введите число:</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {{ field.errors }}
                    {% endfor %}
                    <input type="submit" value="Проверить"/>
                </form>

            <h1>{{context.text}}</h1>
            {% if context.game_over %}
                <form action="/">
                    <input type="submit" value="Сыграть снова"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
